#title{
    position: relative;
    line-height: 1000%;
    border: 10px solid lightcoral;
    border-style: inset none;
    background-color: rgba(240, 240, 240, 0.7);
}
#main_title{
    height: 35%;
    width: 30%;

    font-family: fantasy;
    text-align: center;
    color: lightcoral;
    font-size: 500%;
    text-decoration: overline;
    text-shadow: 0px 7.5px 0px rgb(170, 78, 78);

    position: relative;
    left: 35%;
    top: 25px;

    border: 0px solid;
    background-color: rgba(0,0,0,0);
}

#main_menu{
    background-color: rgba(240, 240, 240, 0.7);
    position: relative;
    line-height: 500px;
}
.a{
    text-decoration: none;
}
#major_img, #hobby_img{
    position: relative;
    top: 35px;
}
#major_img{
    left: 15%;
}
#hobby_img{
    left: 50%;
}
#major_txt, #hobby_txt{
    position: relative;
    top: 85px;

    font-family: fantasy;
    font-size: 230%;
    color: lightcoral;
    text-decoration: overline;
    text-shadow: 0px 2.5px 0px rgb(170, 78, 78);
}
#major_txt{
    left: 22.5%;
}
#hobby_txt{
    left: 57.5%;
}